body {
	height: 100vh;
	background-color: #000000;
	background-image: "/assets/img/blood.png";
	color: #827F7F;
	overflow: hidden;
}

.content-container {
	height: 90vh;
	background-color: #000000;
}

.subcontent-container {
	height: 100%;
}

.mystery-button {
	background-color: black;
	border-radius: 0px;
	margin: auto;
	position: relative;
	/*top: 45%;*/
	border-color : #b90f15;
	border-width: 2px;
	outline: solid;
	padding:0.2em 1.5em;
	color: #b90f15;
	font-size: 20px;
}

.storyline-container {
	height: 40vh;
}

#storyline-div {
	transition: ease-in-out;
	height: 100%;
	width: 100%;
}

#storyline {
	/*visibility: hidden;*/
	margin-top: 10px;
	margin-left: 20px;
}

.wordcloud-container {
	height: 90vh;
	/*visibility: hidden;*/
}

.tweets-container {
	height: 35vh;
}

#wordcloud {
	/*visibility: hidden;*/
	transition: ease-in-out;
	margin: auto;
}

#wordcloud-button {
	transition: ease-in-out;
	/*visibility: hidden;	*/
}

.graphic-and-facts-container {
	padding-left: 1.5em;
	height: 50vh;
}

#suicide-internet-chart {
	transition: ease-in-out;
	/*visibility: hidden;*/
}

#chart-button {
	transition: ease-in-out;
	/*visibility: hidden;	*/
}

#chart-div {
	padding-left: 1.5em;
	transition: ease-in-out;
	height: 100%;
	width: 100%;
}

#chart-button {
	transition: ease-in-out;
	/*visibility: hidden;	*/
}

#facts-carousel {
	height: 100%;
	/*visibility: hidden;*/
}

#facts-carousel .carousel-inner {
	height: 100%;
}

#facts-carousel .carousel-item {
	height: 100%;
}

#facts-carousel img {
	height: 100%;
}

#facts-button {
	transition: ease-in-out;
	/*visibility: hidden;*/
}


.conclusion-container {
	height: 10vh;
	background-color: #000000;
	color: #C9C4C4;
}

#conclusion {
	transition: ease-in-out;
	/*visibility: hidden;	*/
}

#conclusion-button {
	transition: ease-in-out;
	/*visibility: hidden;*/
}

.conclusion-container .words {
	margin: auto;
	display: flex;
	text-align: center;
}

.conclusion-container .viz-title {
	/*display: inline-block;*/
	margin: auto;
	font-family: "Impact";
	font-size: xx-large;
	letter-spacing: 0.5px;
}

.conclusion-container .viz-conclusion {
	/*display: inline-block;*/
	margin: auto;
}