body {
	height: 100vh;
	background-color: #000000;
	color: #827F7F;
	overflow: hidden;
}

.content-container {
	height: 90vh;
	background-color: #000000;
}

.subcontent-container {
	height: 100%;
}

.mystery-button {
	background-color: blue;
}

.storyline-container {
	height: 40vh;
}

#storyline {
	visibility: hidden;
}

/*.wordcloud-container {
	height: 65vh;
}

.tweets-container {
	height: 35vh;
}*/

#wordcloud {
	visibility: hidden;
}

#wordcloud-button {
	visibility: hidden;	
}

.graphic-and-facts-container {
	height: 50vh;
}

#suicide-internet-chart {
	visibility: hidden;
}

#chart-button {
	visibility: hidden;	
}

#suicide-internet-chart {
	visibility: hidden;
}

#chart-button {
	visibility: hidden;	
}

#facts-carousel {
	height: 100%;
	visibility: hidden;
}

#facts-carousel .carousel-inner {
	height: 100%;
}

#facts-carousel .carousel-item {
	height: 100%;
}

#facts-carousel img {
	height: 100%;
}

#facts-button {
	visibility: hidden;
}


.conclusion-container {
	height: 10vh;
	background-color: #000000;
	color: #C9C4C4;
}

#conclusion {
	visibility: hidden;	
}

#conclusion-button {
	visibility: hidden;
}

.conclusion-container .words {
	margin: auto;
	display: flex;
	text-align: center;
}

.conclusion-container .viz-title {
	/*display: inline-block;*/
	margin: auto;
	font-family: "Impact";
	font-size: xx-large;
	letter-spacing: 0.5px;
}

.conclusion-container .viz-conclusion {
	/*display: inline-block;*/
	margin: auto;
}